.sidebar {
    max-width: 260px;
    background: beige;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sidebar-inner {
    padding: 20px;
    height: 100%;
}

.top-bar-wrap {
    width: calc(100vw - 260px);
    position: fixed;
    top: 0;
    left: 260px;
    background-color: #fff;
    padding: 8px 15px;
    z-index: 99;
}

.sidebar-logo {
    position: relative;
}

.sidebar-logo:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #0d6efd;
    left: 50%;
    transform: translateX(-50%);
}

span.humberger {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
}

.sidebar-nav {
    margin: 30px 0 0;
}

.sidebar-nav li {
    display: block;
}

.sidebar-nav li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #0d6efd;
    margin: 1px 0;
    transition: all .15s linear;
    border-radius: 4px;
}


.sidebar-nav li a:focus,
.sidebar-nav li a.active,
.sidebar-nav li a:hover {
    color: #fff;
    background-color: #0d6efd;
}