<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-wrap">
            <div class="sidebar-logo text-primary text-center">
                <i class="fa-solid fa-sack-dollar display-6"></i>
                <h4 class="m-0 mt-1">Cash Manager</h4>
            </div>
            <ul class="p-0 list-unstyled sidebar-nav">
                <li><a href="" class="active">Dashboard</a></li>
                <li><a href="">Cash List</a></li>
                <li><a href="">Expense List</a></li>
            </ul>
        </div>
    </div>
</div>